* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Crimson: #dc143c;
  --bordaperfilsocial: #8b008b;
  --Chocolate: #d2691e;
  --DarkRed: #8b0000;
  --Plum: #dda0dd;
  --gold: #ffd700;
  --DarkOrange: #ff8c00;
  --Brown: #a52a2a;
  --Sienna: #a0522d;
  --RosyBrown: #bc8f8f;
  --botaoindex: #f4a460;
  --boxshadow: #8b4513;
  --cortexto-boxshadow: #000000;
  --fundomainsocial: #ffffff;
  --Lavender: #e6e6fa;
}

header.cabeçalho {
  background-image: url(/css/confeitaria-topo.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(120%);

  div.imagem-logo {
    img.logo {
      width: 150px;
      position: relative;
      left: 200px;
      top: 30px;
    }
  }

  h1.titulo-principal {
    /*H1*/
    font-size: 60px;
    font-weight: 100;
    font-family: "Lobster";
    text-align: center;
    position: relative;
    bottom: 70px;
    color: rgb(255, 208, 0);
    filter: drop-shadow(5px 0px 10px rgb(233, 187, 36));
  }

  ul.lista-header {
    li.lista {
      list-style: none;
      position: relative;
      top: 30px;

      img {
        &.carrinho {
          width: 100px;
          position: absolute;
          left: 1400px;
          bottom: 88px;
        }

        &.contato {
          width: 70px;
          position: absolute;
          left: 1645px;
          bottom: 77px;
        }
      }
    }
  }
}

.hr {
  /*LINHA DE SEPARAÇÃO*/
  border: 3px outset var(--DarkOrange);
  margin: 0px;
}

/*CORPO*/
main.principal {
  div.imagem-principal {
    img.fundo-principal {
      width: 100%;
      height: 900px;
      border-bottom: outset 10px var(--Crimson);
      box-shadow: 2px 2px 2px 2px;
      margin: 0px;
    }

    div.botoes {
      display: flex;
      flex-direction: column;
      position: absolute;
      font-size: 60px;
      top: 350px;
      left: 240px;
      gap: 150px;
      text-transform: uppercase;

      a.botao-doces {
        text-decoration: none;
        color: var(--cortexto-boxshadow);
        background-color: var(--botaoindex);
        border-radius: 10px;
        text-align: center;
        padding: 20px;
        box-shadow: 5px 5px 4px 5px var(--cortexto-boxshadow);
        cursor: pointer;
      }
      a.botao-doces:hover {
        transform: scale(1.1);
      }
    }
  }
}

footer {
  div.edicao-rodape {
    background-image: url(/css/confeitaria-topo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -400px;

    div.icone-rodape {
      position: relative;

      img.instagram {
        width: 200px;
      }

      div.pagamento {
        strong.forma-pagamento {
          font-size: 60px;
          font-family: "Dancing Script";
          color: var(--gold);
          position: absolute;
          left: 400px;
          bottom: 120px;
        }

        img.pix {
          position: absolute;
          left: 580px;
          width: 70px;
          bottom: 30px;
        }
      }
    }
  }
}

header.topo {
  background-image: url(/css/gradiante-social.png);
  background-repeat: no-repeat;
  background-size: cover;

  row-gap: 20px;
  div.topo-perfis {
    display: flex;
    justify-content: center;
    gap: 40px;
    img {
      width: 100px;
      margin: 20px;
      border-radius: 70px;
      border: outset 5px var(--bordaperfilsocial);
      cursor: pointer;
    }
    img:hover {
      transform: scale(1.2);
    }
  }
}

main.principal-social {
  background-color: var(--fundomainsocial);
  div.aba-meuperfil {
    img {
    }
  }
}
