* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --textodonutsnatal: #dc143c;
  --bordaperfilsocial-divisoesdonuts: #8b008b;
  --Chocolate: #d2691e;
  --DarkRed: #8b0000;
  --divisaodonuts: #dda0dd;
  --DarkOrange: #ff8c00;
  --Brown: #a52a2a;
  --Sienna: #a0522d;
  --RosyBrown: #bc8f8f;
  --botaoindex: #f4a460;
  --boxshadow: #8b4513;
  --cortexto-boxshadow: #000000;
  --fundodonuts: #ffffff;
  --cardapiodonuts: #e6e6fa;
  --main-donuts: #fd94fd;
  --divsdonuts: #D8BFD8;
  --donutsnatal-shadowspan: #00FF7F;
}

header.cabeçalho {
  background-image: url(/css/confeitaria-topo.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(120%);

  div.imagem-logo {
    img.logo {
      width: 150px;
      position: relative;
      left: 200px;
      top: 30px;
    }
  }

  h1.titulo-principal {
    /*H1*/
    font-size: 60px;
    font-weight: 100;
    font-family: "Lobster";
    text-align: center;
    position: relative;
    bottom: 70px;
    color: rgb(255, 208, 0);
    filter: drop-shadow(5px 0px 10px rgb(233, 187, 36));
  }

  ul.lista-header {
    li.lista {
      list-style: none;
      position: relative;
      top: 30px;

      img {
        &.carrinho {
          width: 100px;
          position: absolute;
          left: 1400px;
          bottom: 88px;
        }

        &.contato {
          width: 70px;
          position: absolute;
          left: 1645px;
          bottom: 77px;
        }
      }
    }
  }
}

.hr {
  /*LINHA DE SEPARAÇÃO*/
  border: 3px outset var(--DarkOrange);
  margin: 0px;
}

/*CORPO*/
main.principal {
  div.imagem-principal {
    img.fundo-principal {
      width: 100%;
      height: 900px;
      border-bottom: outset 10px var(--Crimson);
      box-shadow: 2px 2px 2px 2px;
      margin: 0px;
    }

    div.botoes {
      display: flex;
      flex-direction: column;
      position: absolute;
      font-size: 35px;
      top: 350px;
      left: 240px;
      gap: 140px;
      text-transform: uppercase;

      a.botao-doces {
        text-decoration: none;
        color: var(--cortexto-boxshadow);
        background-color: var(--botaoindex);
        border-radius: 10px;
        text-align: center;
        padding: 20px;
        box-shadow: 5px 5px 4px 5px var(--cortexto-boxshadow);
        cursor: pointer;
      }
      a.botao-doces:hover {
        transform: scale(1.1);
      }
    }
  }
}

.hr-donuts {
  margin-bottom: 70px ;
  border: 3px outset var(--divisaodonuts);
}

footer {
  div.edicao-rodape {
    background-image: url(/css/confeitaria-topo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -400px;

    div.icone-rodape {
      position: relative;

      img.instagram {
        width: 200px;
      }

      div.pagamento {
        strong.forma-pagamento {
          font-size: 60px;
          font-family: "Dancing Script";
          color: var(--gold);
          position: absolute;
          left: 400px;
          bottom: 120px;
        }

        img.pix {
          position: absolute;
          left: 580px;
          width: 70px;
          bottom: 30px;
        }
      }
    }
  }
}

header.topo-social {
  background-image: url(/css/gradiante-social.png);
  background-repeat: no-repeat;
  background-size: cover;

  row-gap: 20px;
  div.topo-perfis {
    display: flex;
    justify-content: center;
    gap: 40px;
    img {
      width: 100px;
      margin: 20px;
      border-radius: 70px;
      border: outset 5px var(--bordaperfilsocial);
      cursor: pointer;
    }
    img:hover {
      transform: scale(1.2);
    }
  }
}

main.principal-social {
  background-color: var(--fundomainsocial);
  div.aba-meuperfil {
    img {
    }
  }
}


header.topo-donuts {
  text-align: center;

  div.cardapio-header {
    margin: 50px;

   h2.cardapio-header {
    text-transform: uppercase;
    font-family: "Bebas Neue";
    font-size: 50px;
    } 
  }
}

body.corpo-donuts {
  /*background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(221,160,221,1) 0%, rgba(255,105,180,1) 15%, rgba(244,64,154,1) 51%, rgba(255,105,180,1) 82%, rgba(221,160,221,1) 100%, rgba(139,0,139,1) 100%);
  */
background-color: var(--fundodonuts);
}

main.principal-donuts {
section.sessao-menu {
  div.cardapio-donuts {
    margin-left: 150px;  
    display: grid;
    grid-template-columns: repeat(4, 400px);

    div.caixas-donuts {
    box-shadow: 2px 0px 5px 3px var(--cortexto-boxshadow);
    margin: 20px;
    border-radius: 20px;
    background-color: #FFFFF0;

      div.donut-block {
        display: flex;
        flex-direction: column;
        margin: auto;

      img {
        width: 300px;
        margin: auto;
        cursor: pointer;
        }

        img:hover {
          transform: scale(1.2);
        
        }

        strong.donut-coment {
          margin: auto;
          font-size: 25px;
          font-family: "Concert One";
          margin-bottom: 20px;
          }
        }
      }
    }
  }
}


rodape.rodape-donuts {
  background-color:  #00FF7F;

    div.objetos-rodape-donuts {
      img {
        
    }
  }
}



  hr.hr-cardapio {
    margin-bottom: 70px ;
    border: 3px outset var(--bordaperfilsocial-divisoesdonuts);
  }


