* {
margin: 0;
box-sizing: border-box;
}

:root {
--Cyan: #00FFFF;
--Turquoise: #40E0D0;
--Violet: #EE82EE;
--BlueViolet: #8A2BE2;
--MediumSlateBlue: #7B68EE;
--DarkTurquoise: #00CED1;
--DeepSkyBlue: #00BFFF;
--Fuchsia: #FF00FF;
--Crimson: #DC143C;
--DarkMagenta: #8B008B;
--Chocolate: #D2691E;
--DarkRed: #8B0000;
}

/*LINHA DE SEPARAÇÃO*/
hr {
border: 3px outset var(--Crimson);
box-shadow: 5px 5px 5px 5px;
margin: 0px;
}

/*CABEÇALHO*/
.cabeçalho {
background-image: url(/css/gradient_1920_1080.png);
background-repeat: no-repeat;
background-size: cover;
filter: contrast(210%);
}

.titulo-principal {
font-size: 40px;
text-transform: uppercase;
font-family: "Rubik Mono One";
text-align: center;
position: relative;
bottom: 80px;
 }

.logo { /*IMAGEM DA LOGO*/
width: 130px;
position: relative;
left: 200px;
top: 30px;
}

.imagem-logo { /*EDIÇÃO DA LOGO*/
filter: contrast(30%);
}

.lista {
list-style: none;
position: relative;
top: 30px;
}

.carrinho { /*ÍCONE DO CARRINHO*/
    width: 150px;
    position: absolute;
    left: 1450px;
    bottom: 40px;
    filter: contrast(30%);
}

.contato { /*ÍCONE DE CONTATO*/
    width: 150px;
    position: absolute;
    left: 1645px;
    bottom: 40px;
    filter: contrast(30%);
}

/*CORPO*/
.strong { /*COMENTÁRIO DA IMAGEM DE ESPECIALIDADE*/
    text-transform: uppercase;
    font-size: 40px;
    position: absolute;
    color: var(--Turquoise);
    font-family: "Concert One";
    left: 1422px;
    top: 280px;
}

.especialidade { /*IMAGEM DA ESPECIALIADADE NA SECTION PRINCIPAL*/
width: 450px;
position: absolute;
left: 1400px;
border: 5px outset var(--Crimson);
box-shadow: 10px 10px 10px 10px;
bottom: -250px;
}

.fundo-principal { /*IMAGEM DE FUNDO PRINCIPAL*/
width: 100%;
border-bottom: outset 10px var(--Crimson);
box-shadow: 2px 2px 2px 2px;
margin: 0px;
}

.titulo-sobre { /*TITULO DO SOBRE*/
text-transform: uppercase;
position: absolute;
top: 600px;
left: 50px;
font-size: 50px;
color: var(--Chocolate);
background-color: var(--DarkRed);
border-radius: 10px;
box-shadow: 5px 5px 5px 5px;
}

.sobre-texto {
position: absolute;
font-size: 40px;
top: 300px;
color: var(--Chocolate);
background-color: var(--DarkRed);
}

.sobre-texto-2 {
position: absolute;
font-size: 40px;
top: 250px;
color: var(--Chocolate);
background-color: var(--DarkRed);
}

/*SECTION-CORPO*/
.container-section {
width: 100%;
border-bottom: 5px outset var(--Crimson);
background-image: url(/css/gradiante-cardapio.png);
}

.titulo-sabores {
text-align: center;
font-size: 50px;
}

.sabores-geral { /*PRIMEIRA FILEIRA DE SABORES*/
display: flex;
text-align: center;
text-transform: uppercase;
font-size: 20px;
font-family: "Concert One";
}

.sabores-geral img { /*IMAGENS DA PRIMEIRA FILEIRA DE SABORES*/
width: 250px;
margin: 70px;
border: outset 5px var(--Crimson);
box-shadow: 5px 5px 5px 5px;
}

.blues { /*BLUES DE MEMPHIS GELATO*/
margin-left: -10px;
}

.sabores-geral-2 { /*SEGUNDA FILEIRA DE SABORES*/
display: flex;
text-align: center;
text-transform: uppercase;
font-size: 20px;
margin-bottom: 30px;
font-family: "Concert One";
}

.sabores-geral-2 img { /*IMAGENS DA SEGUNDA FILEIRA DE SABORES*/
margin: 63px;
width: 250px;
border: outset 5px var(--Crimson);
box-shadow: 5px 5px 5px 5px;
}


/*RODAPÉ*/

/*IMAGENS CARDÁPIO*/
.morango img {
border-radius: 10px;
width: 300px;
border: outset 2px var(--Violet);
box-shadow: 5px 5px 5px 5px;
}

.lavanda img {
    border-radius: 10px;
    width: 300px;
    border: outset 2px var(--BlueViolet);
    box-shadow: 5px 5px 5px 5px;
}

/*FOOTER*/
.icone-rodape { /*DIV DO ICONE DO INSTAGRAM*/
position: relative;
}

.instagram { /*IMAGEM DO ICONE DO INSTAGRAM*/
width: 400px;
}

.edicao-rodape {
background-image: url(/css/gradient-rodape.png);
}