
* {
margin: 0;
box-sizing: border-box;
}

:root {
--Cyan: #00FFFF;
--Turquoise: #40E0D0;

}

/*LINHA DE SEPARAÇÃO*/
hr {
border: 1px solid #A0522D;
box-shadow: 2px 2px;
}

.titulo-principal {
    font-size: 60px;
    text-transform: uppercase;
    font-family: "Bungee Tint";
    text-align: center;
    position: relative;
    bottom: -70px;
 }

.hr {
    border: 1px solid #A0522D;
    box-shadow: 7px 7px;
}

/*TOPO*/
.cabeçalho {
width: 100%;
background-image: url(/imagens/degrade-gelato.png);
background-size: 100%;
background-position: 0px -420px;
background-repeat: no-repeat;
height: 200px;
}

.logo {
width: 250px;
height: 250px;
position: relative;
left: 847px;
bottom: 110px;
}

.logo img {
    width: 250px;
    position: absolute;
    left: -800px;
    margin: 20px;
    }


/*CORPO*/
.main {
background-image: url(/imagens/degrade-gelato.png);
}
.ul {
list-style: none;
}

.lista-carrinho img {
width: 80px;
}

.principal img {
width: 100%;
border-bottom: outset 10px #A0522D;
box-shadow: 2px 2px 2px 2px;
}

.imagens {
position: relative;
right: -400px;
margin: 20px;
text-transform:uppercase;
}
.titulo3 {
margin: 10px;
}

.corte img {
width: 100%;
height: 300px;
}


.titulo-corte-div {
background-image: url(/imagens/degrade-gelato.png);
}

/*RODAPÉ*/
.rodape {
margin: 0px;
max-width: 100%;
max-height: 100%;
}

/*IMAGENS DE FUNDO*/
.background-rodape img {
width: 100%;
}

.background-rodape {
display: f;
}
.cardapio-imagem {
filter: blur(8px);
height: 500%;
}

/*IMAGENS CARDÁPIO*/
.morango img {
position: absolute;
left: 200px;
top: 1700px;
border-radius: 10px;
width: 400px;
border: outset 2px #A0522D;
box-shadow: 5px 5px 5px 5px;
}

.lavanda img {
    position: absolute;
    left: 1400px;
    top: 2500px;
    border-radius: 10px;
    width: 400px;
    border: outset 2px #A0522D;
    box-shadow: 5px 5px 5px 5px;
}

/*NOMES SABORES*/
.nome-morango {
    position: absolute;
text-transform: uppercase;
font-size: 40px;
}

.nome-lavanda {
    position: absolute;
    text-transform: uppercase;
    font-size: 40px;
}
