
* {
margin: 0;
box-sizing: border-box;
}

:root {
--Cyan: #00FFFF;
--Turquoise: #40E0D0;
--Violet: #EE82EE;
--BlueViolet: #8A2BE2;
--MediumSlateBlue: #7B68EE;
--DarkTurquoise: #00CED1;
--DeepSkyBlue: #00BFFF;
--Fuchsia: #FF00FF;


}

/*LINHA DE SEPARAÇÃO*/
hr {
border: 1px outset var(--BlueViolet);
box-shadow: 5px 5px 5px 5px;

}



.hr {
    border: 1px solid #A0522D;
    box-shadow: 7px 7px;
}

/*TOPO*/

.cabeçalho {
background-image: url(/imagens/gradient_1000_500.png);
background-repeat: no-repeat;
background-size: cover;
height: 150px;
}

.titulo-principal {
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Bungee Tint";
    text-align: center;
    position: relative;
    bottom: 80px;
 }

.logo {
width: 130px;
position: relative;
left: 200px;
}

/*CORPO*/
.main {
background-image: url(/imagens/degrade-gelato.png);
}

.principal img {
    width: 100%;
    border-bottom: outset 10px var(--BlueViolet);
    box-shadow: 2px 2px 2px 2px;
    }

/*SECTION-CORPO*/
.container-section {
width: 100%;
border-bottom: 5px outset var(--BlueViolet);
background-image: url(/imagens/degrade-gelato.png);
}

.sabores-geral {
display: flex;
}

.sabores-geral img {
width: 250px;
margin: 63px;
}

.sabores-geral-2 {
display: flex;
}

.sabores-geral-2 img {
margin: 63px;
width: 250px;
}

/*LISTA-CORPO*/
.ul {
list-style: none;
}


.imagens {
position: relative;
right: -400px;
margin: 20px;
text-transform:uppercase;
}

.titulo3 {
margin: 10px;
}

.corte img {
width: 100%;
height: 300px;
}


.titulo-corte-div {
background-image: url(/imagens/degrade-gelato.png);
}

/*RODAPÉ*/

/*IMAGENS DE FUNDO RODAPÉ*/
.background-rodape img {
width: 100%;
}

.background-rodape {
display: f;
}

.cardapio-imagem {
filter: blur(8px);
height: 500%;
}

/*IMAGENS CARDÁPIO*/
.morango img {
border-radius: 10px;
width: 300px;
border: outset 2px var(--Violet);
box-shadow: 5px 5px 5px 5px;
}


.lavanda img {
    border-radius: 10px;
    width: 300px;
    border: outset 2px var(--BlueViolet);
    box-shadow: 5px 5px 5px 5px;
}

/*SPANS*/
